---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";

import "../../styles/global.css";
import Footer from "../../components/Footer.astro";

const posts = await getCollection("proyectos");

const tagColors: Record<string, string> = {
	"Digital Art": "bg-pink-500/10 text-pink-500",
	Illustration: "bg-blue-500/10 text-blue-500",
	Anime: "bg-purple-500/10 text-purple-500",
	"Web Development": "bg-[#219ebc]/10 text-[#219ebc]",
	JavaScript: "bg-yellow-500/10 text-yellow-500",
	Design: "bg-red-500/10 text-red-500",
	Angular: "bg-red-500/10 text-red-500",
	Chartjs: "bg-yellow-500/10 text-yellow-500",
};
---

<Layout title="Proyectos" description="Listado de proyectos de Ernesto Solís">
	<Header />

	<div class="max-w-7xl py-4 px-6 md:px-6 mx-auto min-h-screen">
		<div class="flex items-center space-x-2 text-gray-400 py-10">
			<a href="/" class="hover:text-blue-500">Inicio</a>
			<span>/</span>
			<a href="/proyectos" class="hover:text-blue-500">Proyectos</a>
		</div>

		<h2 class="text-4xl font-bold text-white">Mis proyectos</h2>
		<p class="text-gray-400 py-4 mb-4">Algunas soluciones que se me vienen a la cabeza y las hago.</p>

		<div class="max-w-7xl mx-auto">
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 py-4">
				{
					posts.map((entrada: any) => (
						<div class="card-gradient rounded-xl overflow-hidden card-hover border border-gray-700 hover:scale-102 transition-transform duration-300 cursor-pointer">
							<div class="image-wrapper relative overflow-hidden">
								<a href={`proyectos/${entrada.slug}`}>
									<img
										src={`${entrada.data.img}`}
										transition:name={`${entrada.data.title}-image`}
										alt="Cosmic nebula artwork"
										class="w-full h-64 object-cover"
									/>
									<div class="overlay absolute inset-0 bg-gradient-to-t from-black/80 to-transparent opacity-0 transition-opacity duration-300 flex items-end p-6">
										<div class="text-white">
											<p class="font-medium">Click to view project details</p>
										</div>
									</div>
								</a>
							</div>
							<div class="p-6">
								<a href={`proyectos/${entrada.slug}`}>
									<div class="flex gap-2 mb-4">
										{entrada.data.tags.map((tag: string) => {
											const colorClass = tagColors[tag] || "bg-gray-500/10 text-gray-300"; // Color por defecto si no está en la lista
											return <span class={`px-3 py-1 ${colorClass} rounded-full text-xs font-medium`}>{tag}</span>;
										})}
									</div>
									<h2 class="text-white text-xl font-bold mb-2">{`${entrada.data.title}`}</h2>
									<p class="text-gray-400 mb-4 line-clamp-2">{`${entrada.data.description}`}</p>
								</a>
								<div class="flex justify-between items-center">
									<a
										href={`proyectos/${entrada.slug}`}
										class="text-blue-500 hover:text-blue-400 transition-colors duration-300 text-sm font-medium"
									>
										Ver proyecto →
									</a>
									<span class="text-gray-500 text-sm">{`${new Date(entrada.data.date).getFullYear()}`}</span>
								</div>
							</div>
						</div>
					))
				}
			</div>
			<br />
		</div>
	</div>

	<Footer />
</Layout>
